[submodule "data_raw/LAFAN1_Retargeting_Dataset"]
	path = data_raw/LAFAN1_Retargeting_Dataset
	url = https://huggingface.co/datasets/lvhaidong/LAFAN1_Retargeting_Dataset
[submodule "data_amp/LAFAN-G1"]
	path = data_amp/LAFAN-G1
	url = https://huggingface.co/datasets/ember-lab-berkeley/LAFAN-G1
