
imitation_learning_policy: 
  type: MLPPolicy
  ##Sigma settings
  init_log_std: -2.9
  sigma_fixed: True
  log_std_min: -5.0
  log_std_max: 1.0
  latent_dim: 64

  prior: 
    units: [1024, 1024, 512]
    activation: relu

  posterior:
    units: [1024, 1024, 512]
    activation: relu
  
